<?xml version="1.0"?>
<ruleset name="PSR2">
    <description>Hopefully PSR2 standard that works</description>
    <rule ref="PSR2">
    </rule>
    <rule ref="PSR1.Methods.CamelCapsMethodName.NotCamelCaps">
        <exclude-pattern>*Test.php</exclude-pattern>
    </rule>
    <rule ref="Generic.Formatting.SpaceAfterCast">
        <properties>
            <property name="equalsSpacing" value="1"/>
        </properties>
    </rule>
</ruleset>
