<!DOCTYPE html>
<html lang="en" class="bg-white antialiased">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
  <link rel="manifest" href="../manifest.json">
  <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#00b4b6">
  <title>Navigation - Tailwind CSS</title>
  <meta name="theme-color" content="#ffffff">
  <meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@tailwindcss">
<meta name="twitter:title" content="Navigation - Tailwind CSS">
<meta name="twitter:description" content="Examples of building navigation components with Tailwind CSS.">
<meta name="twitter:image" content="https://tailwindcss.com/img/tailwind-twitter-square.png">
<meta name="twitter:creator" content="@tailwindcss">
<meta property="og:url" content="https://tailwindcss.com/">
<meta property="og:type" content="article">
<meta property="og:title" content="Navigation - Tailwind CSS">
<meta property="og:description" content="Examples of building navigation components with Tailwind CSS.">
<meta property="og:image" content="https://tailwindcss.com/img/twitter-large-card.png">
  <link rel="stylesheet" href="../../rsms.me/inter/inter.css">
  <link rel="stylesheet" href="../assets/build/css/main.css%3Fid=4a7cbbbeb4816c16d9a7.css">
  
  <script src="../../cdn.jsdelivr.net/gh/alpinejs/alpine@v1.11.1/dist/alpine.js" defer></script>
</head>
<body data-sidebar-visible="true" class="text-gray-900 leading-normal pb-8">








<div class="w-full mx-auto px-6">
  <div class="lg:flex -mx-6">

    
    
    

    
    <div id="content-wrapper" class="min-h-screen w-full">

      
      <div id="content">

        
        <div id="app" class="flex" v-cloak>

          
          <div class="w-full">
            <div class="markdown mb-6 px-6 mx-auto">
                              <a name="//apple_ref/cpp/Section/Top" class="dashAnchor"></a><h1 class="flex items-center">
                  Navigation
                  <!-- <span class="ml-4 text-teal-600 font-semibold text-base">v1.3.0+</span> -->
                                  </h1>
              
                              <div class="mt-0 mb-4 text-gray-600">
                  Examples of building navigation components with Tailwind CSS.
                </div>
                                          <hr class="my-8 border-b-2 border-gray-200">
                          </div>
            <div class="flex">
              <div class="markdown px-6 w-full mx-auto">
                <p>Tailwind doesn't include pre-designed navigation components out of the box, but they're easy to build using existing utilities.</p>
<p>Here are a few examples to help you get an idea of how to build components like this using Tailwind.</p>
<h2><a id="simple" name="//apple_ref/cpp/Section/Simple" class="dashAnchor"></a>Simple</h2>
<div class="relative overflow-hidden mb-8">
  <div v-pre class="bg-white rounded-t-lg overflow-hidden border-t border-l border-r border-gray-400 p-4 " style="">
    <ul class="flex">
  <li class="mr-6">
    <a class="text-blue-500 hover:text-blue-800" href="navigation.html#">Active</a>
  </li>
  <li class="mr-6">
    <a class="text-blue-500 hover:text-blue-800" href="navigation.html#">Link</a>
  </li>
  <li class="mr-6">
    <a class="text-blue-500 hover:text-blue-800" href="navigation.html#">Link</a>
  </li>
  <li class="mr-6">
    <a class="text-gray-400 cursor-not-allowed" href="navigation.html#">Disabled</a>
  </li>
</ul>
  </div>
  <div v-pre class="rounded-b-lg bg-gray-800">
    <pre class="scrollbar-none m-0 p-0 language-html"><code class="inline-block p-4 scrolling-touch">&lt;ul class="flex"&gt;
  &lt;li class="mr-6"&gt;
    &lt;a class="text-blue-500 hover:text-blue-800" href="#"&gt;Active&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="mr-6"&gt;
    &lt;a class="text-blue-500 hover:text-blue-800" href="#"&gt;Link&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="mr-6"&gt;
    &lt;a class="text-blue-500 hover:text-blue-800" href="#"&gt;Link&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="mr-6"&gt;
    &lt;a class="text-gray-400 cursor-not-allowed" href="#"&gt;Disabled&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
  </div>
</div>
<h2><a id="responsive-header" name="//apple_ref/cpp/Section/Responsive%20Header" class="dashAnchor"></a>Responsive Header</h2>
<div class="relative overflow-hidden mb-8">
  <div v-pre class="bg-white rounded-t-lg overflow-hidden border-t border-l border-r border-gray-400 p-4 " style="">
    <div class="mb-6 lg:hidden">
  <p class="text-sm text-gray-600 mb-1">Collapsed</p>
  <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewbox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"></path></svg>
      <span class="font-semibold text-xl tracking-tight">Tailwind CSS</span>
    </div>
    <div class="block lg:hidden">
      <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title>
<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg>
      </button>
    </div>
    <div class="w-full hidden flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <a href="navigation.html#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Docs
        </a>
        <a href="navigation.html#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Examples
        </a>
        <a href="navigation.html#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
          Blog
        </a>
      </div>
      <div>
        <a href="navigation.html#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Download</a>
      </div>
    </div>
  </nav>
</div>

<div>
  <p class="text-sm text-gray-600 mb-1 lg:hidden">Expanded</p>
  <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewbox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"></path></svg>
      <span class="font-semibold text-xl tracking-tight">Tailwind CSS</span>
    </div>
    <div class="block lg:hidden">
      <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title>
<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg>
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <a href="navigation.html#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Docs
        </a>
        <a href="navigation.html#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Examples
        </a>
        <a href="navigation.html#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
          Blog
        </a>
      </div>
      <div>
        <a href="navigation.html#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Download</a>
      </div>
    </div>
  </nav>
</div>
  </div>
  <div v-pre class="rounded-b-lg bg-gray-800">
    <pre class="scrollbar-none m-0 p-0 language-html"><code class="inline-block p-4 scrolling-touch">&lt;nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6"&gt;
  &lt;div class="flex items-center flex-shrink-0 text-white mr-6"&gt;
    &lt;svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"&gt;&lt;path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/&gt;&lt;/svg&gt;
    &lt;span class="font-semibold text-xl tracking-tight"&gt;Tailwind CSS&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class="block lg:hidden"&gt;
    &lt;button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white"&gt;
      &lt;svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"&gt;&lt;title&gt;Menu&lt;/title&gt;&lt;path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/&gt;&lt;/svg&gt;
    &lt;/button&gt;
  &lt;/div&gt;
  &lt;div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto"&gt;
    &lt;div class="text-sm lg:flex-grow"&gt;
      &lt;a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"&gt;
        Docs
      &lt;/a&gt;
      &lt;a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"&gt;
        Examples
      &lt;/a&gt;
      &lt;a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white"&gt;
        Blog
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div&gt;
      &lt;a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"&gt;Download&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/nav&gt;</code></pre>
  </div>
</div>
<h2><a id="tabs" name="//apple_ref/cpp/Section/Tabs" class="dashAnchor"></a>Tabs</h2>
<div class="relative overflow-hidden mb-8">
  <div v-pre class="bg-white rounded-t-lg overflow-hidden border-t border-l border-r border-gray-400 p-4 " style="">
    <ul class="flex border-b">
  <li class="-mb-px mr-1">
    <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-700 font-semibold" href="navigation.html#">Active</a>
  </li>
  <li class="mr-1">
    <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="navigation.html#">Tab</a>
  </li>
  <li class="mr-1">
    <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="navigation.html#">Tab</a>
  </li>
  <li class="mr-1">
    <a class="bg-white inline-block py-2 px-4 text-gray-400 font-semibold" href="navigation.html#">Tab</a>
  </li>
</ul>
  </div>
  <div v-pre class="rounded-b-lg bg-gray-800">
    <pre class="scrollbar-none m-0 p-0 language-html"><code class="inline-block p-4 scrolling-touch">&lt;ul class="flex border-b"&gt;
  &lt;li class="-mb-px mr-1"&gt;
    &lt;a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-700 font-semibold" href="#"&gt;Active&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="mr-1"&gt;
    &lt;a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="#"&gt;Tab&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="mr-1"&gt;
    &lt;a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="#"&gt;Tab&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="mr-1"&gt;
    &lt;a class="bg-white inline-block py-2 px-4 text-gray-400 font-semibold" href="#"&gt;Tab&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
  </div>
</div>
<h2><a id="pills" name="//apple_ref/cpp/Section/Pills" class="dashAnchor"></a>Pills</h2>
<div class="relative overflow-hidden mb-8">
  <div v-pre class="bg-white rounded-t-lg overflow-hidden border-t border-l border-r border-gray-400 p-4 " style="">
    <ul class="flex">
  <li class="mr-3">
    <a class="inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white" href="navigation.html#">Active Pill</a>
  </li>
  <li class="mr-3">
    <a class="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3" href="navigation.html#">Pill</a>
  </li>
  <li class="mr-3">
    <a class="inline-block py-1 px-3 text-gray-400 cursor-not-allowed" href="navigation.html#">Disabled Pill</a>
  </li>
</ul>
  </div>
  <div v-pre class="rounded-b-lg bg-gray-800">
    <pre class="scrollbar-none m-0 p-0 language-html"><code class="inline-block p-4 scrolling-touch">&lt;ul class="flex"&gt;
  &lt;li class="mr-3"&gt;
    &lt;a class="inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white" href="#"&gt;Active Pill&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="mr-3"&gt;
    &lt;a class="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3" href="#"&gt;Pill&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="mr-3"&gt;
    &lt;a class="inline-block py-1 px-3 text-gray-400 cursor-not-allowed" href="#"&gt;Disabled Pill&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
  </div>
</div>
<h2><a id="stretched" name="//apple_ref/cpp/Section/Stretched" class="dashAnchor"></a>Stretched</h2>
<div class="relative overflow-hidden mb-8">
  <div v-pre class="bg-white rounded-t-lg overflow-hidden border-t border-l border-r border-gray-400 p-4 " style="">
    <ul class="flex">
  <li class="flex-1 mr-2">
    <a class="text-center block border border-blue-500 rounded py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white" href="navigation.html#">Active Item</a>
  </li>
  <li class="flex-1 mr-2">
    <a class="text-center block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-2 px-4" href="navigation.html#">Nav Item</a>
  </li>
  <li class="text-center flex-1">
    <a class="block py-2 px-4 text-gray-400 cursor-not-allowed" href="navigation.html#">Disabled Item</a>
  </li>
</ul>
  </div>
  <div v-pre class="rounded-b-lg bg-gray-800">
    <pre class="scrollbar-none m-0 p-0 language-html"><code class="inline-block p-4 scrolling-touch">&lt;ul class="flex"&gt;
  &lt;li class="flex-1 mr-2"&gt;
    &lt;a class="text-center block border border-blue-500 rounded py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white" href="#"&gt;Active Item&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="flex-1 mr-2"&gt;
    &lt;a class="text-center block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-2 px-4" href="#"&gt;Nav Item&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="text-center flex-1"&gt;
    &lt;a class="block py-2 px-4 text-gray-400 cursor-not-allowed" href="#"&gt;Disabled Item&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
  </div>
</div>
<h2><a id="justified" name="//apple_ref/cpp/Section/Justified" class="dashAnchor"></a>Justified</h2>
<div class="relative overflow-hidden mb-8">
  <div v-pre class="bg-white rounded-t-lg overflow-hidden border-t border-l border-r border-gray-400 p-4 " style="">
    <ul class="flex justify-between">
  <li class="mr-3">
    <a class="inline-block border border-blue-500 rounded py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white" href="navigation.html#">Active Pill</a>
  </li>
  <li class="mr-3">
    <a class="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-2 px-4" href="navigation.html#">Pill</a>
  </li>
  <li class="mr-3">
    <a class="inline-block py-2 px-4 text-gray-400 cursor-not-allowed" href="navigation.html#">Disabled Pill</a>
  </li>
</ul>
  </div>
  <div v-pre class="rounded-b-lg bg-gray-800">
    <pre class="scrollbar-none m-0 p-0 language-html"><code class="inline-block p-4 scrolling-touch">&lt;ul class="flex justify-between"&gt;
  &lt;li class="mr-3"&gt;
    &lt;a class="inline-block border border-blue-500 rounded py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white" href="#"&gt;Active Pill&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="mr-3"&gt;
    &lt;a class="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-2 px-4" href="#"&gt;Pill&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="mr-3"&gt;
    &lt;a class="inline-block py-2 px-4 text-gray-400 cursor-not-allowed" href="#"&gt;Disabled Pill&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
  </div>
</div>              </div>

              
              
              

            </div>
          </div>
          


        </div>
        

        <script src="../assets/build/js/app.js%3Fid=67e749265d091bed73b6"></script>

        <!-- Algolia DocSearch  -->
        
        
      </div>
      


    </div>
    

  </div>
</div>




  <!-- Google Analytics  -->
  
  

<script src="../../code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="../assets/build/js/nav.js%3Fid=b3eb7d558e0420f9b29c" defer></script>

</body>
</html>
