<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>tiki</string>
    <key>CFBundleName</key>
    <string>Tiki</string>
    <key>DocSetPlatformFamily</key>
    <string>tiki</string>
    <key>dashIndexFilePath</key>
    <string>doc.tiki.org/All-the-Documentation.html</string>
    <key>DashDocSetFallbackURL</key>
    <string>doc.tiki.org</string>
    <key>DashDocSetPlayURL</key>
    <string></string>
    <key>isJavaScriptEnabled</key>
    <true/>
    <key>isDashDocset</key>
    <true/>
    <key>DashDocSetFamily</key>
    <string>dashtoc</string>
</dict>
</plist>